<style>
    body {
        background-color: linen;
    }

    h1 {
        color: maroon;
        text-align: center;
    }

    html { 
        text-align: center;
    }
</style>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<br> <hr> <br>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<br> <hr> <br>

<button>
<%= link_to "Back to Home", articles_path %>
</button>